@font-face{
  font-family: lazy;
 src: url(../fonts/lazy_monday_4/Lazy\ Monday.otf);
}
  body{
    background-image:url(../image/bgg_princii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  header.catalogo{
    display: flex;
}
  nav{
    background-color: none!important;
    width: 500px!important;
    border-radius: 20px;
    position: relative;
    left: 350px;
    margin-top: 7px;
}
input#nav{
    background-color: #8598c3;
    border-radius: 15px;
    border: solid 1px #425fa1;
    width:300px;
    height: 38px;
    margin-top: 3px;
}
#offcanvasNavbar{
    background-image: url(../image/neon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#offcanvasNavbar a{
    color:rgb(255, 255, 255);
}
#offcanvasNavbar h5{
    
    color: rgb(164, 194, 251);
}
.moonis{
    font-family: lazy;
    background-color: #425ea1a5;
    width: 190px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #283960;
    display: flex;
    align-items: center;
    position: relative;
    left: 70px;
    flex-direction: row;
    margin-left: 3px;
    margin-top: 3px;
}
.moonis h1{
    color: #283960;
    position: relative;
    top: 3px;
}
img.moo{
    width: 60px;
    height: 60px;
    
}
.cat{
    font-family: lazy;
    background-color: #ffffffa5;
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #283960;
    display: flex;
    align-items: center;
    position: relative;
    left: 400px;
    top:4px;
    flex-direction: row;
    margin-left: 3px;
    margin-top: 6px;
}
.cat h1{
    color: #283960;
    position: relative;
    top: 3px;
    font-size: 35px;
}
div.icon{
    background-color: #425ea1a5;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    right: 5px;
}
div.icon span{
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    right: 5px;
}

  .con{
    width: 95%;
    margin-left: 2.5%;
    height: 160px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: -20px 10px 20px #2f2b98bb;
    background-image: url(../image/banner_3.0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bi{
    color:rgb(75, 9, 141);
    font-size: 32px;
    -webkit-text-stroke: 0.2px black;
  }

  section{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
    width: 100%;
  }
  #logBtn{
    background-color: rgba(250, 235, 215, 0);
    border: none;
  }
  .card{
    background: linear-gradient(90deg,  rgb(28, 28, 28)0%, rgb(39, 37, 40) 35%,  rgb(45, 49, 51) 100%);
    width: 265px !important;
    margin-left: 2px;
    transition: .35s;
    cursor: pointer;
  }
  .row:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
  }
  .card:hover{
    .btn{
      display: block !important;
    }
  }
  .card-title{
    color:white  !important;
  }
  .card-body .btn{
    background-color: rgb(99, 122, 161) !important;
    border: none !important;
    width: 100%;
    display: none !important;
  }
  .card p{
    color: rgb(93, 18, 158) ;
  }
  .carousel-control-prev, .carousel-control-next{
    margin-top: 120px;
  }